body{
    /* background-image: url(MainBackground.jpeg); */
    background-size: 100%;
}

.menuDiv{
    position: absolute;
    margin-top: 12.04vh;
    margin-left: 8.7vw;
    height: 21.2vh;
    width: 90.65vh;
    background-image: url(NameOfGame.svg);
}

.buttonsDiv{
    position: absolute;
    margin-top: 43.8vh;
    margin-left: 12.6vw;
    height: auto;
    width: 27.69vh;
    background-color: greenyellow;
}

.btn_play, .btn_info, .btn_creategame, .btn_profile, .btn_settings{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding-top: 8%;
    padding-bottom: 8%;
    width: 100%;
    background-color: plum;
}
